@use "../abstracts" as *;

// 위치 설정
.location-list {
  @include flex(12px);
  flex-direction: column;
  padding: 24px 0 34px;
}
.location-addr {
  display: block;
  width: 100%;
  text-align: left;
  span {
    display: block;
    @include fontDefinition(15px, 400, 140%);
    color: #777;
    &.location-tit {
      font-weight: 500;
      color: #444;
      margin-bottom: 3px;
    }
  }
  &.act {
    span {
      color: #e6854a;
      &.location-tit {
        color: #e6854a;
      }
    }
  }
}
.empty-list {
  @include flex(0px);
  flex-direction: column;
  align-items: center;
  padding: 42px 0;
  span {
    display: block;
    @include fontDefinition(15px, 400, 140%);
    color: #777;
  }
}

.array-list {
  @include flex(0px);
  flex-direction: column;
  padding: 24px 0 0;
}
.array-item {
  &:first-child {
    button {
      padding-top: 0;
    }
  }
  &:last-child {
    button {
      padding-bottom: 0;
    }
  }
}
.array-addr {
  display: block;
  width: 100%;
  text-align: left;
  @include fontDefinition(15px, 500, 140%);
  color: #444;
  padding: 10px 0;
}

// 카테고리
.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  padding: 24px 0 0;
}
.category-item {
  &.act {
    .category-btn {
      background: #ededed;
      font-weight: 600;
    }
  }
}
.category-btn {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ededed;
  background: #fff;
  padding: 0 5px;
  @include fontDefinition(14px, 400, 140%);
  color: #444;
}

// 요청사항
.request-list {
  padding: 10px 0 14px;
}
.request-item {
  border-bottom: 1px solid #ededed;
  .request-btn {
    display: block;
    width: 100%;
    padding: 14px 0;
    text-align: left;
    @include fontDefinition(15px, 500, 140%);
    color: #444;
  }
  &.act {
    .request-btn {
      color: #e6854a;
    }
  }
  &:last-child {
    border-bottom: none;
  }
}
.request-empty {
  padding: 48px 0;
  text-align: center;
  @include fontDefinition(15px, 400, 140%);
  color: #777;
}
.requst-guide {
  margin-top: 14px;
  @include fontDefinition(14px, 400, 140%);
  color: #777;
}
.request-custom-box {
  padding: 24px 0;

  .request-custom-length {
    margin-left: auto;
    @include fontDefinition(14px, 400, 140%);
    color: #444;
    i {
      font-weight: 600;
    }
  }
  .request-custom-guide {
    @include flex(0px);
    align-items: center;
    margin-top: 14px;
  }
  .request-custom-warning {
    @include fontDefinition(14px, 400, 140%);
    color: #f34a5a;
  }
}
// 일시불/할부
.installment-form {
  @include flex(10px);
  flex-direction: column;
  padding-top: 24px;
}

@media screen and (max-width: 321px) {
  .category-btn {
    font-size: 12px;
  }
}
