@use "../abstracts" as *;

.location-list {
  @include flex(12px);
  flex-direction: column;
  padding: 24px 0 34px;
}
.location-addr {
  display: block;
  width: 100%;
  text-align: left;
  span {
    display: block;
    @include fontDefinition(15px, 400, 140%);
    color: #777;
    &.location-tit {
      font-weight: 500;
      color: #444;
      margin-bottom: 3px;
    }
  }
  &.act {
    span {
      color: #e6854a;
      &.location-tit {
        color: #e6854a;
      }
    }
  }
}
.empty-list {
  @include flex(0px);
  flex-direction: column;
  align-items: center;
  padding: 42px 0;
  span {
    display: block;
    @include fontDefinition(15px, 400, 140%);
    color: #777;
  }
}
