@use "../abstracts" as *;
.badge {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  @include fontDefinition(12px, 500, 100%);
  color: #fff;
  padding: 0 8px 0 0;
  border-radius: 66px;
  b {
    @include flex(0px);
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    @include fontDefinition(11px, 900, 100%);
    background-color: #fff;
    border-radius: 50%;
  }
  &.c {
    border: 1px solid #f9833b;
    background-color: #f9833b;
    b {
      color: #f9833b;
    }
  }
  &.s {
    border: 1px solid #4fbfff;
    background-color: #4fbfff;
    b {
      color: #4fbfff;
    }
  }
}
