@use "../abstracts" as *;
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  z-index: 999999;
  background-color: #fff;
  border-bottom: 1px solid #f2f0f0;
  .header-inner {
    position: relative;
    @include flex(0px);
    align-items: center;
    height: 100%;
    padding: 0 24px;
  }
  h1 {
    @include absoluteCenter;
    @include fontDefinition(20px, 600, 140%);
    color: #1a1a1a;
  }
  .back-btn {
    flex: none;
    @include flex(0px);
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    background: url(/assets/images/contents/back_arr.svg) no-repeat center
      center;
    background-size: 18px 12px;
  }
}
.badge {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  @include fontDefinition(12px, 500, 100%);
  color: #fff;
  padding: 0 8px 0 0;
  border-radius: 66px;
  b {
    @include flex(0px);
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    @include fontDefinition(11px, 900, 100%);
    background-color: #fff;
    border-radius: 50%;
  }
  &.c {
    border: 1px solid #f9833b;
    background-color: #f9833b;
    b {
      color: #f9833b;
    }
  }
  &.s {
    border: 1px solid #4fbfff;
    background-color: #4fbfff;
    b {
      color: #4fbfff;
    }
  }
  &.r {
    border: 1px solid rgba(243, 74, 90, 1);
    background-color: rgba(243, 74, 90, 1);
    b {
      color: rgba(243, 74, 90, 1);
    }
  }
}

// detail
.detail-wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
}
.AI-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 42px;
  height: 42px;
  background: url(/assets/images/layout/AI_icon.svg) no-repeat center center;
  background-size: cover;
  z-index: 99;
  &.act {
    bottom: 150px;
  }
}
.basket-btn {
  @include flex(0px);
  align-items: center;
  position: fixed;
  bottom: 34px;
  left: 24px;
  width: calc(100% - 48px);
  height: 68px;
  text-align: left;
  padding: 0 24px;
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 6px;
  backdrop-filter: blur(5px);
  z-index: 99;
  .basket-btn-name {
    @include flex(0px);
    align-items: center;
    .basket-btn-icon {
      display: block;
      background: url(/assets/images/contents/basket_tab_icon.svg) no-repeat
        center center;
      background-size: cover;
      width: 18px;
      height: 20px;
      margin-right: 10px;
    }
    b {
      @include flex(6px);
      align-items: center;
      @include fontDefinition(15px, 600, 140%);
      color: #fff;
      i {
        @include flex(0px);
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        background-color: #fff;
        border-radius: 50%;
        @include fontDefinition(12px, 700, 140%);
        color: #1a1a1a;
      }
    }
  }
  .basket-btn-count {
    margin-left: auto;
    @include fontDefinition(20px, 700, 140%);
    color: #fff;
  }
}
.detail-img-wrap {
  position: relative;
  .swiper-pagination {
    @include flex(0px);
    align-items: center;
    justify-content: center;
    left: unset;
    right: 24px;
    bottom: 18px;
    font-size: 12px;
    border-radius: 66px;
    font-weight: 400;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    color: #fff;
    width: 35px;
    height: 20px;
    letter-spacing: 0.5px;
  }
}
.store-ready {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(26, 26, 26, 0.8);
  @include fontDefinition(18px, 600, 140%);
  color: #fff;
  text-align: center;
  padding: 26px 24px;
  z-index: 2;
}
.store-img {
  position: relative;
  display: flex;
  width: 100%;
  height: 375px;
  img {
    object-fit: cover;
  }
}
.store-badge-wrap {
  @include flex(6px);
  align-items: center;
  position: absolute;
  bottom: 18px;
  left: 24px;
  z-index: 1;
}
.detail-info-wrap {
  padding: 24px;
  background-color: #fff;
  border-bottom: 1px solid #f2f0f0;
  .store-name {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
}
.store-desc-wrap {
  margin-top: 13px;
  .store-desc {
    @include fontDefinition(14px, 400, 140%);
    color: #1a1a1a;
  }
  .store-desc-info {
    @include flex(8px);
    align-items: center;
    span {
      @include fontDefinition(14px, 400, 140%);
      color: #777;
      &.bookmark {
        position: relative;
        padding-left: 18px;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 15px;
          height: 15px;
          background: url(/assets/images/layout/bookmark.svg) no-repeat center
            center;
          background-size: cover;
        }
      }
      &.comment {
        position: relative;
        padding-left: 18px;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 15px;
          height: 15px;
          background: url(/assets/images/layout/comment.svg) no-repeat center
            center;
          background-size: cover;
        }
      }
    }
  }
}

.detail-tab-wrap {
  @include flex(6px);
  align-items: center;
  margin-top: 13px;
  .detail-tab-item {
    @include flex(4px);
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid #ededed;
    border-radius: 80px;
    padding: 9px 5px;
    @include fontDefinition(14px, 500, 140%);
    color: #444;
    .icon {
      display: block;
      width: 18px;
      height: 18px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      &.location {
        background-image: url(/assets/images/layout/map.svg);
      }
      &.comment {
        background-image: url(/assets/images/layout/comment.svg);
      }
      &.bookmark {
        background-image: url(/assets/images/layout/bookmark.svg);
      }
    }
  }
}
.detail-store-data {
  margin-top: 20px;
  a {
    position: relative;
    display: block;
    @include fontDefinition(14px, 400, 140%);
    color: #777;
    @include ellipsis(2);
    word-break: keep-all;
    padding-right: 28px;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 6px;
      height: 12px;
      background: url(/assets/images/contents/detail_data_arr.svg) no-repeat
        center center;
      background-size: cover;
    }
  }
}

// contents
.detail-contents {
  margin-top: 10px;
  border-top: 1px solid #f2f0f0;
  background-color: #fff;
}
.dt-contents-inner {
  padding: 32px 24px 24px;
}
.contents-tab-wrap {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  margin: -20px -24px -20px;
  padding: 20px 0px 20px 24px;
}
.tab-list {
  @include flex(6px);
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-right: 24px;
  .tab-item {
    flex: none;
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 80px;
    padding: 9px 17px;
    @include fontDefinition(14px, 400, 140%);
    color: #444;
    transition: all 0.15s ease;
    &.arr {
      @include flex(0px);
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 0;
      .arr-icon {
        flex: none;
        display: block;
        width: 16px;
        height: 9px;
        background: url(/assets/images/contents/tab_arr.svg) no-repeat center
          center;
        background-size: cover;
      }
    }
    &.act {
      background-color: #444;
      color: #fff;
      font-weight: 600;
      .arr-icon {
        background: url(/assets/images/contents/tab_arr_act.svg) no-repeat
          center center;
        background-size: cover;
      }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.menu-list {
  @include flex(15px);
  flex-direction: column;
  margin-top: 20px;
  .menu-title {
    @include fontDefinition(16px, 600, 140%);
    color: #1a1a1a;
  }
}
.menu-item {
  position: relative;
  .menu-item-btn {
    @include flex(24px);
    width: 100%;
    text-align: left;
  }
  .menu-item-img {
    flex: none;
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 32px;
    overflow: hidden;
    padding: 6.5px 24px;
    background-color: #f8f8f8;
    img {
      width: 100%;
    }
  }
  .menu-item-info {
    margin-top: 6px;
    .menu-name {
      @include fontDefinition(15px, 500, 140%);
      color: #1a1a1a;
    }
    .menu-price {
      @include flex(6px);
      align-items: center;
      margin-top: 3px;
      @include fontDefinition(15px, 700, 140%);
      color: #1a1a1a;
      .discount {
        @include fontDefinition(14px, 400, 140%);
        color: #777;
        text-decoration: line-through;
      }
    }
    .menu-desc {
      margin-top: 7px;
      @include fontDefinition(14px, 400, 140%);
      color: #777;
    }
  }
  &.ready {
    &::before {
      content: "일시품절";
      @include flex(0px);
      align-items: center;
      justify-content: center;
      @include fontDefinition(17px, 500, 140%);
      color: #1a1a1a;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 32px;
      border: 1px solid #ededed;
      background: rgba(255, 255, 255, 0.9);
      z-index: 1;
    }
  }
}

//메뉴 컨텐츠
.menu-contents {
  padding: 66px 24px 0;
  .header {
    border-bottom: none;
  }
}
.menu-badge-wrap {
  @include flex(6px);
  align-items: center;
}
.menu-info {
  @include flex(0px);
}
.menu-data {
  @include flex(7px);
  flex-direction: column;
  .menu-name {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
  .menu-price {
    @include fontDefinition(15px, 700, 100%);
    color: #1a1a1a;
    .discount {
      @include fontDefinition(14px, 400, 100%);
      color: #777;
      text-decoration: line-through;
    }
  }
}
.menu-zoom {
  margin-left: auto;
  display: block;
  width: 40px;
  height: 40px;
  background: url(/assets/images/contents/menu_zoom_icon.svg) no-repeat center
    center;
  background-size: 19px 19px;
  border: 1px solid #ededed;
  background-color: #fff;
  border-radius: 14px;
}
.menu-count-wrap {
  @include flex(0px);
  align-items: center;
  width: 100%;
  height: 44px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 15px;
  .menu-minus {
    display: block;
    width: 44px;
    height: 100%;
    background: url(/assets/images/contents/minus.svg) no-repeat center center;
    background-size: 24px 24px;
    border-right: 1px solid #eee;
    background-color: #fff;
  }
  .menu-plus {
    display: block;
    width: 44px;
    height: 100%;
    background: url(/assets/images/contents/plus.svg) no-repeat center center;
    background-size: 16px 16px;
    border-left: 1px solid #eee;
    background-color: #fff;
  }
  .menu-count {
    flex: 1;
    display: block;
    text-align: center;
    @include fontDefinition(15px, 400, 140%);
    color: #888;
  }
}

// 점포정보
.map-contents {
  margin-top: 66px;
  padding: 32px 24px 24px;
  background-color: #fff;
}
.map-data {
  @include flex(17px);
  flex-direction: column;
  padding-bottom: 32px;
  .map-name {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
    margin-bottom: 10px;
  }
  .map-desc-item {
    .map-desc-tit {
      @include fontDefinition(15px, 500, 140%);
      color: #444;
    }
    .map-desc-txt {
      @include fontDefinition(15px, 400, 140%);
      color: #777;
      &.num {
        text-decoration: underline;
      }
      span {
        display: block;
      }
    }
  }
  .map-btn {
    @include flex(4px);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: 1px solid #ededed;
    background-color: #fff;
    border-radius: 80px;
    @include fontDefinition(14px, 500, 140%);
    color: #444;
    .map-btn-icon {
      display: block;
      width: 17px;
      height: 17px;
      background: url(/assets/images/contents/icon_map.svg) no-repeat center
        center;
      background-size: cover;
    }
  }
}

.map-option-wrap {
  .map-option-tit {
    @include fontDefinition(16px, 600, 140%);
    color: #1a1a1a;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
  }
}
.map-option-data {
  padding: 19px 0;
  .map-option-desc {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
  }
  .map-option-service {
    @include flex(12px);
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 9px;
    span {
      @include fontDefinition(15px, 500, 140%);
      color: #444;
    }
  }
  .sns-link {
    @include flex(8px);
    align-items: center;
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    i {
      display: block;
      width: 20px;
      height: 20px;
      background: url(/assets/images/contents/insta_icon.svg) no-repeat center
        center;
      background-size: cover;
    }
  }
}
.map-notice-bx {
  padding: 24px 0 9px;
  .map-notice-tit {
    position: relative;
    @include fontDefinition(15px, 500, 140%);
    color: #444;
    padding-left: 26px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 20px;
      background: url(/assets/images/contents/map_notice_icon.svg) no-repeat
        center center;
      background-size: cover;
    }
  }
  .map-notice-desc {
    margin-top: 13px;
    @include fontDefinition(14px, 400, 140%);
    color: #777;
    span {
      display: block;
    }
  }
}
