@use "../abstracts" as *;
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  z-index: 999999;
  background-color: #fff;
  border-bottom: 1px solid #f2f0f0;
  .header-inner {
    position: relative;
    @include flex(0px);
    align-items: center;
    height: 100%;
    padding: 0 24px;
  }
  h1 {
    @include absoluteCenter;
    @include fontDefinition(20px, 600, 140%);
    color: #1a1a1a;
    white-space: nowrap;
  }
  .back-btn {
    flex: none;
    @include flex(0px);
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    background: url(/assets/images/contents/back_arr.svg) no-repeat center
      center;
    background-size: 18px 12px;
  }
}
.badge {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  @include fontDefinition(12px, 500, 100%);
  color: #fff;
  padding: 0 8px 0 0;
  border-radius: 66px;
  b {
    @include flex(0px);
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    @include fontDefinition(11px, 900, 100%);
    background-color: #fff;
    border-radius: 50%;
  }
  &.c {
    border: 1px solid #f9833b;
    background-color: #f9833b;
    b {
      color: #f9833b;
    }
  }
  &.s {
    border: 1px solid #4fbfff;
    background-color: #4fbfff;
    b {
      color: #4fbfff;
    }
  }
  &.r {
    border: 1px solid rgba(243, 74, 90, 1);
    background-color: rgba(243, 74, 90, 1);
    b {
      color: rgba(243, 74, 90, 1);
    }
  }
}

// detail
.detail-wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
}
.AI-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 42px;
  height: 42px;
  background: url(/assets/images/layout/AI_icon.svg) no-repeat center center;
  background-size: cover;
  z-index: 99;
  &.act {
    bottom: 150px;
  }
}
.basket-btn {
  @include flex(0px);
  align-items: center;
  position: fixed;
  bottom: 34px;
  left: 24px;
  width: calc(100% - 48px);
  height: 68px;
  text-align: left;
  padding: 0 24px;
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 6px;
  backdrop-filter: blur(5px);
  z-index: 99;
  .basket-btn-name {
    @include flex(0px);
    align-items: center;
    .basket-btn-icon {
      display: block;
      background: url(/assets/images/contents/basket_tab_icon.svg) no-repeat
        center center;
      background-size: cover;
      width: 18px;
      height: 20px;
      margin-right: 10px;
    }
    b {
      @include flex(6px);
      align-items: center;
      @include fontDefinition(15px, 600, 140%);
      color: #fff;
      i {
        @include flex(0px);
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        background-color: #fff;
        border-radius: 50%;
        @include fontDefinition(12px, 700, 140%);
        color: #1a1a1a;
      }
    }
  }
  .basket-btn-count {
    margin-left: auto;
    @include fontDefinition(20px, 700, 140%);
    color: #fff;
  }
}
.detail-header {
  .header {
    top: -66px;
    transition: all 0.15s ease;
  }
  &.act {
    .header {
      top: 0;
    }
  }
}
.detail-img-wrap {
  position: relative;
  .swiper-pagination {
    @include flex(0px);
    align-items: center;
    justify-content: center;
    left: unset;
    right: 24px;
    bottom: 18px;
    font-size: 12px;
    border-radius: 66px;
    font-weight: 400;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    color: #fff;
    width: 35px;
    height: 20px;
    letter-spacing: 0.5px;
  }
}
.store-ready {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(26, 26, 26, 0.8);
  @include fontDefinition(18px, 600, 140%);
  color: #fff;
  text-align: center;
  padding: 26px 24px;
  z-index: 2;
}
.store-img {
  position: relative;
  display: flex;
  width: 100%;
  height: 375px;
  img {
    object-fit: cover;
  }
}
.store-badge-wrap {
  @include flex(6px);
  align-items: center;
  position: absolute;
  bottom: 18px;
  left: 24px;
  z-index: 1;
}
.detail-info-wrap {
  padding: 24px;
  background-color: #fff;
  border-bottom: 1px solid #f2f0f0;
  .store-name {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
}
.store-desc-wrap {
  margin-top: 13px;
  .store-desc {
    @include fontDefinition(14px, 400, 140%);
    color: #1a1a1a;
  }
  .store-desc-info {
    @include flex(8px);
    align-items: center;
    span {
      @include fontDefinition(14px, 400, 140%);
      color: #777;
      &.bookmark {
        position: relative;
        padding-left: 18px;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 15px;
          height: 15px;
          background: url(/assets/images/layout/bookmark.svg) no-repeat center
            center;
          background-size: cover;
        }
      }
      &.comment {
        position: relative;
        padding-left: 18px;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 15px;
          height: 15px;
          background: url(/assets/images/layout/comment.svg) no-repeat center
            center;
          background-size: cover;
        }
      }
    }
  }
}

.detail-tab-wrap {
  @include flex(6px);
  align-items: center;
  margin-top: 13px;
  .detail-tab-item {
    @include flex(4px);
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid #ededed;
    border-radius: 80px;
    padding: 9px 5px;
    @include fontDefinition(14px, 500, 140%);
    color: #444;
    .icon {
      display: block;
      width: 18px;
      height: 18px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      &.location {
        background-image: url(/assets/images/layout/map.svg);
      }
      &.comment {
        background-image: url(/assets/images/layout/comment.svg);
      }
      &.bookmark {
        width: 14px;
        height: 14px;
        background-image: url(/assets/images/layout/bookmark.svg);
      }
    }
    &.act {
      .icon {
        &.bookmark {
          background-image: url(/assets/images/layout/bookmark_act.svg);
        }
      }
    }
  }
}
.detail-store-data {
  margin-top: 20px;
  a {
    position: relative;
    display: block;
    @include fontDefinition(14px, 400, 140%);
    color: #777;
    @include ellipsis(2);
    word-break: keep-all;
    padding-right: 28px;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 6px;
      height: 12px;
      background: url(/assets/images/contents/detail_data_arr.svg) no-repeat
        center center;
      background-size: cover;
    }
  }
}

// contents
.detail-contents {
  margin-top: 10px;
  border-top: 1px solid #f2f0f0;
  background-color: #fff;
}
.dt-contents-inner {
  padding: 32px 24px 24px;
}
.contents-tab-wrap {
  position: sticky;
  top: 66px;
  left: 0;
  z-index: 2;
  background: linear-gradient(
    180deg,
    #fff 78.09%,
    #fff 89.81%,
    rgba(255, 255, 255, 0) 98.46%
  );
  margin: -10px -24px -20px;
  padding: 10px 0px 20px 0px;
}
.tab-list {
  @include flex(6px);
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-right: 24px;
  padding-left: 24px;
  .tab-item {
    flex: none;
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 80px;
    padding: 9px 17px;
    @include fontDefinition(14px, 400, 140%);
    color: #444;
    transition: all 0.15s ease;
    &.arr {
      @include flex(0px);
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 0;
      .arr-icon {
        flex: none;
        display: block;
        width: 16px;
        height: 9px;
        background: url(/assets/images/contents/tab_arr.svg) no-repeat center
          center;
        background-size: cover;
      }
    }
    &.act {
      background-color: #444;
      color: #fff;
      font-weight: 600;
      .arr-icon {
        background: url(/assets/images/contents/tab_arr_act.svg) no-repeat
          center center;
        background-size: cover;
      }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.menu-list {
  @include flex(15px);
  flex-direction: column;
  margin-top: 20px;
  .menu-title {
    @include fontDefinition(16px, 600, 140%);
    color: #1a1a1a;
  }
}

//메뉴 컨텐츠
.menu-wrap {
  background-color: #f2f0f0;
}
.menu-contents {
  padding: 66px 0px 116px;
  .header {
    border-bottom: none;
  }
}
.menu-content-data {
  padding-bottom: 24px;
}
.menu-content-bx {
  background-color: #fff;
  padding: 0 24px;
  margin-top: 10px;
  border-top: 1px solid #f2f0f0;
  border-bottom: 1px solid #f2f0f0;
  &:first-child {
    margin-top: 0;
    border-top: none;
  }
}
.menu-item {
  position: relative;
  background-color: #fff;
  .menu-item-btn {
    @include flex(24px);
    width: 100%;
    text-align: left;
  }
  .menu-item-img {
    flex: none;
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 32px;
    overflow: hidden;
    background-color: #f8f8f8;
    img {
      width: 100%;
    }
  }
  .menu-item-info {
    margin-top: 6px;
    .menu-name {
      @include fontDefinition(15px, 500, 140%);
      color: #1a1a1a;
    }
    .menu-price {
      @include flex(6px);
      align-items: center;
      margin-top: 3px;
      @include fontDefinition(15px, 700, 140%);
      color: #1a1a1a;
      .discount {
        @include fontDefinition(14px, 400, 140%);
        color: #777;
        text-decoration: line-through;
      }
    }
    .menu-desc {
      margin-top: 7px;
      @include fontDefinition(14px, 400, 140%);
      color: #777;
    }
  }
  &.ready {
    &::before {
      content: "일시품절";
      @include flex(0px);
      align-items: center;
      justify-content: center;
      @include fontDefinition(17px, 500, 140%);
      color: #1a1a1a;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 32px;
      border: 1px solid #ededed;
      background: rgba(255, 255, 255, 0.9);
      z-index: 1;
    }
  }
}

.menu-badge-wrap {
  @include flex(6px);
  align-items: center;
}
.menu-info {
  @include flex(0px);
}
.menu-data {
  @include flex(7px);
  flex-direction: column;
  .menu-name {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
  .menu-price {
    @include fontDefinition(15px, 700, 100%);
    color: #1a1a1a;
    .discount {
      @include fontDefinition(14px, 400, 100%);
      color: #777;
      text-decoration: line-through;
    }
  }
}
.menu-zoom {
  margin-left: auto;
  display: block;
  width: 40px;
  height: 40px;
  background: url(/assets/images/contents/menu_zoom_icon.svg) no-repeat center
    center;
  background-size: 19px 19px;
  border: 1px solid #ededed;
  background-color: #fff;
  border-radius: 14px;
}
.menu-count-wrap {
  @include flex(0px);
  align-items: center;
  width: 100%;
  height: 48px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 15px;
  .menu-minus {
    display: block;
    width: 48px;
    height: 100%;
    background: #f5f5f5 url(/assets/images/contents/minus.svg) no-repeat center
      center;
    background-size: 24px 24px;
    border-right: 1px solid #eee;
    transition: all 0.15s ease;
    &:disabled {
      background: #f5f5f5 url(/assets/images/contents/minus_disable.svg)
        no-repeat center center;
    }
  }
  .menu-plus {
    display: block;
    width: 48px;
    height: 100%;
    background: url(/assets/images/contents/plus.svg) no-repeat center center;
    background-size: 14px 14px;
    border-left: 1px solid #eee;
    background-color: #f5f5f5;
    &:disabled {
      background: #f5f5f5 url(/assets/images/contents/plus_disable.svg)
        no-repeat center center;
    }
  }
  .menu-count {
    flex: 1;
    display: block;
    text-align: center;
    @include fontDefinition(15px, 400, 140%);
    color: #888;
  }
}
.menu-option-setting {
  padding: 28px 0 24px;
  .option-setting-tit {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
  .option-setting-list {
    @include flex(12px);
    align-items: center;
    margin-top: 12px;
  }
}
.menu-option-wrap {
  padding: 28px 0 24px;
  &.all_same {
    .menu-option-item:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }
  .menu-option-num {
    width: 100%;
    @include flex(0px);
    align-items: center;
    span {
      display: block;
      @include fontDefinition(18px, 600, 140%);
      color: #1a1a1a;
    }
    .menu-option-arr {
      margin-left: auto;
      display: block;
      width: 24px;
      height: 24px;
      background: url(/assets/images/contents/cup_num_arr.svg) no-repeat center
        center;
      background-size: cover;
      transition: all 0.15s ease;
      &.act {
        transform: rotate(180deg);
      }
    }
  }
}
.menu-option-item {
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  &:first-child {
    margin-top: 15px;
  }
  &:last-child {
    padding-bottom: 0;
  }
  .option-tit {
    @include flex(0px);
    align-items: center;
    margin-bottom: 16px;
    span {
      display: block;
      @include fontDefinition(16px, 500, 140%);
      color: #1a1a1a;
      &.required {
        margin-left: auto;
        font-size: 15px;
        color: #f34a5a;
      }
    }
  }
  .check-wrap {
    @include flex(10px);
    flex-direction: column;
  }
}
.option-check-wrap {
  @include flex(0px);
  align-items: center;
  .option-info-wrap {
    flex: none;
    @include flex(12px);
    align-items: center;
    margin-left: auto;
    .menu-count-wrap {
      height: 38px;
      margin-top: 0;
      .menu-count {
        width: 47px;
      }
      .menu-minus {
        width: 38px;
        background-size: 20px 20px;
      }
      .menu-plus {
        width: 38px;
        background-size: 10px 10px;
      }
    }
    .option-cost {
      flex: none;
      @include fontDefinition(14px, 500, 140%);
      color: #999;
      &.checked {
        color: #1a1a1a;
      }
    }
  }
}

.menu-btn-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  background-color: #fff;
  border-top: 1px solid #f2f0f0;
  z-index: 3;
  button {
    gap: 3px;
    font-size: 18px;
    height: 68px;
    span {
      font-size: 22px;
    }
  }
}

// 점포정보
.map-contents {
  margin-top: 66px;
  padding: 32px 24px 24px;
  background-color: #fff;
}
.map-data {
  @include flex(17px);
  flex-direction: column;
  padding-bottom: 32px;
  .map-name {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
    margin-bottom: 10px;
  }
  .map-desc-item {
    .map-desc-tit {
      @include fontDefinition(15px, 500, 140%);
      color: #444;
    }
    .map-desc-txt {
      @include fontDefinition(15px, 400, 140%);
      color: #777;
      &.num {
        text-decoration: underline;
      }
      span {
        display: block;
      }
    }
  }
  .map-btn {
    @include flex(4px);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: 1px solid #ededed;
    background-color: #fff;
    border-radius: 80px;
    @include fontDefinition(14px, 500, 140%);
    color: #444;
    .map-btn-icon {
      display: block;
      width: 17px;
      height: 17px;
      background: url(/assets/images/contents/icon_map.svg) no-repeat center
        center;
      background-size: cover;
    }
  }
}

.map-option-wrap {
  .map-option-tit {
    @include fontDefinition(16px, 600, 140%);
    color: #1a1a1a;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
  }
}
.map-option-data {
  padding: 19px 0;
  .map-option-desc {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
  }
  .map-option-service {
    @include flex(12px);
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 9px;
    span {
      @include fontDefinition(15px, 500, 140%);
      color: #444;
    }
  }
  .sns-link {
    @include flex(8px);
    align-items: center;
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    i {
      display: block;
      width: 20px;
      height: 20px;
      background: url(/assets/images/contents/insta_icon.svg) no-repeat center
        center;
      background-size: cover;
    }
  }
}
.map-notice-bx {
  padding: 24px 0 9px;
  .map-notice-tit {
    position: relative;
    @include fontDefinition(15px, 500, 140%);
    color: #444;
    padding-left: 26px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 20px;
      background: url(/assets/images/contents/map_notice_icon.svg) no-repeat
        center center;
      background-size: cover;
    }
  }
  .map-notice-desc {
    margin-top: 13px;
    @include fontDefinition(14px, 400, 140%);
    color: #777;
    span {
      display: block;
    }
  }
}

// 구매후기
.review-contents {
  margin-top: 66px;
  padding: 32px 24px 0;
}
.review-item {
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
  padding-top: 20px;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  .review-head {
    @include flex(0px);
    align-items: center;
    margin-bottom: 8px;
    h2 {
      @include fontDefinition(15px, 600, 140%);
      color: #1a1a1a;
    }
    .review-date {
      margin-left: auto;
      @include fontDefinition(15px, 400, 140%);
      color: #777;
    }
  }
  .review-menu {
    @include flex(6px);
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 18px;
    span {
      display: inline-block;
      @include fontDefinition(14px, 400, 140%);
      color: #444;
      border: 1px solid #ededed;
      border-radius: 100px;
      padding: 6.5px 13px;
    }
  }
  .review-txt {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    word-break: keep-all;
  }
  .review-img-wrap {
    margin-top: 18px;
    margin-right: -24px;
    .mySwiper {
      padding-right: 24px;
    }
    .review-img-item {
      position: relative;
      display: block;
      text-align: left;
      flex: none;
      width: 100%;
      height: 100px;
      border-radius: 32px;
      background-color: #f8f8f8;
      overflow: hidden;
      img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  .review-comment {
    @include flex(24px);
    padding-top: 22px;
    border-top: 1px solid #ededed;
    margin-top: 22px;
    .comment-symbol {
      position: relative;
      flex: none;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      margin-top: 3px;
    }
    .comment-txt {
      @include fontDefinition(15px, 400, 140%);
      color: #1a1a1a;
      word-break: keep-all;
    }
    .comment-date {
      text-align: left;
      @include fontDefinition(15px, 400, 140%);
      color: #777;
    }
  }
}

// 주문내역
.order-history-contents {
  margin-top: 66px;
  background-color: #f2f0f0;
  min-height: calc(100vh - 66px);
}

.history-data-wrap {
  @include flex(0px);
  align-items: center;
  background-color: #fff;
  padding: 18px 24px;
  border-bottom: 1px solid #f2f0f0;
  .history-data {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    span {
      font-weight: 600;
    }
  }
  .history-btn-bx {
    margin-left: auto;
    button {
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      &.history-data-btn {
        background-image: url(/assets/images/contents/history_data_btn.svg);
      }
      &.history-reset-btn {
        background-image: url(/assets/images/contents/history_reset_btn.svg);
      }
    }
  }
}

.history-list-item {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  background-color: #fff;
  &.cancel {
    pointer-events: none;
    .item-info-img {
      &::before {
        content: "주문 취소";
        @include flex(0px);
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        @include fontDefinition(14px, 400, 140%);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
    }
  }
}
.item-step-list {
  @include flex(0px);
  align-items: center;
  border-bottom: 1px solid #f2f0f0;
  padding: 22px 24px;
  .step-item {
    flex: 1;
    position: relative;
    text-align: center;
    @include fontDefinition(16px, 400, 140%);
    color: #999;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -3px;
      width: 6px;
      height: 12px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-image: url(/assets/images/contents/step_item_arr.svg);
    }
    &:last-child {
      &::before {
        display: none;
      }
    }
    &.act {
      color: #2f83e4;
      font-weight: 600;
      &::before {
        background-image: url(/assets/images/contents/step_item_arr_act.svg);
      }
    }
  }
}
.item-info {
  @include flex(24px);
  padding: 24px;
  .item-info-img {
    flex: none;
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 32px;
    overflow: hidden;
    background-color: #f8f8f8;
    border: 1px solid #f2f0f0;
    img {
      object-fit: cover;
    }
  }
  .item-info-date {
    @include fontDefinition(14px, 400, 140%);
    color: #777;
  }
  .item-info-name {
    @include fontDefinition(16px, 600, 140%);
    color: #1a1a1a;
    margin-top: 2px;
  }
  .item-info-location {
    position: relative;
    @include fontDefinition(15px, 400, 140%);
    color: #777;
    padding-left: 18px;
    margin-top: 10px;
    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 15px;
      height: 13px;
      background: url(/assets/images/layout/map.svg) no-repeat center center;
      background-size: cover;
    }
  }
}

.history-detail-bx {
  margin-top: 10px;
  padding: 25px 0 22px;
  background-color: #fff;
  border-top: 1px solid #f2f0f0;
  border-bottom: 1px solid #f2f0f0;

  .item-step-list {
    padding-top: 0;
  }
}
.detail-data-wrap {
  padding: 32px 24px 0;
  .detail-data-name {
    position: relative;
    @include fontDefinition(16px, 600, 140%);
    color: #1a1a1a;
    margin-bottom: 7px;
    padding-left: 18px;
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 12px;
      height: 13px;
      background: url(/assets/images/contents/history_detail_name.svg) no-repeat
        center center;
      background-size: cover;
    }
  }
  .detail-data {
    @include fontDefinition(14px, 400, 150%);
    color: #777;
    span {
      display: block;
    }
  }
  .bill-btn {
    margin-top: 24px;
  }
}
.history-detail-form {
  padding: 0 24px;
  .detail-form-tit {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
    margin-bottom: 7px;
  }
  .detail-form-txt {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    span {
      font-weight: 600;
      color: #e6854a;
    }
  }
}

.cost-form-tit {
  @include flex(0px);
  align-items: center;
  padding: 0 24px 14px;
  border-bottom: 1px solid #f2f0f0;
  .name {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
  .cost {
    margin-left: auto;
    @include flex(12px);
    align-items: center;
    @include fontDefinition(16px, 600, 140%);
    color: #1a1a1a;
    span {
      display: block;
    }
  }
}
.cost-form-sub {
  padding: 20px 24px 0;
  .sub-list {
    @include flex(10px);
    flex-direction: column;
    &.dot {
      .sub-item {
        padding-left: 10px;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 4px;
          height: 4px;
          background-color: #ccc;
          border-radius: 50%;
        }
      }
    }
  }
  .sub-item {
    position: relative;
    @include flex(0px);
    align-items: center;
    .sub-item-name {
      @include fontDefinition(15px, 400, 140%);
      color: #777;
    }
    .sub-item-cost {
      @include flex(12px);
      align-items: center;
      margin-left: auto;
      @include fontDefinition(15px, 500, 140%);
      color: #777;
      span {
        display: block;
      }
    }
  }
}
.cost-form-total {
  @include flex(0px);
  align-items: center;
  padding: 25px 24px 0;
  margin-top: 20px;
  border-top: 1px solid #f2f0f0;
  .total-name {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
  .total-cost {
    margin-left: auto;
    @include fontDefinition(18px, 600, 140%);
    color: #f34a5a;
    span {
      display: block;
    }
  }
}
.history-detail-guide {
  padding: 0 24px;
  span {
    @include fontDefinition(14px, 400, 140%);
    color: #777;
    display: block;
    word-break: keep-all;
  }
}
.history-detail-btn-bx {
  @include flex(6px);
  align-items: center;
  padding: 0 24px;
}

.history-empty {
  height: calc(100vh - 66px);
  background-color: #fff;
  .empty-wrap {
    @include flex(0px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 185px;
    margin: 0 auto;
    height: 100%;
    .empty-icon-bx {
      @include flex(0px);
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 120px;
      background-color: #f8f8f8;
      border-radius: 50%;
      i {
        display: block;
        width: 60px;
        height: 66px;
        background: url(/assets/images/contents/empty_basket.svg) no-repeat
          center center;
        background-size: cover;
      }
    }
    .empty-text {
      @include fontDefinition(18px, 500, 140%);
      color: #1a1a1a;
      margin-top: 28px;
      word-break: keep-all;
    }
    .empty-btn {
      display: block;
      width: 100%;
      padding: 0 24px;
      @include fontDefinition(15px, 500, 140%);
      color: #444444;
      height: 48px;
      border-radius: 6px;
      border: 1px solid #ddd;
      margin-top: 17px;
    }
  }
}

// mypage
.mypage-wrap {
  .header {
    border-bottom: none;
  }
}
.mypage-container {
  padding-top: 66px;
  padding-bottom: 65px;
  min-height: 100vh;
}
.mypage-contents {
  padding: 0 24px;
}
.mydata-bx {
  padding: 42px 24px 16px;
  border-radius: 18px;
  background: linear-gradient(180deg, #0c3579 0%, #152d5c 100%);
}
.mydata-info {
  @include flex(14px);
  align-items: center;
  .mydata-info-img {
    position: relative;
    width: 46px;
    height: 46px;
  }
  .mydata-info-text {
    div {
      @include fontDefinition(18px, 400, 150%);
      color: #fff;
      span {
        font-weight: 600;
      }
    }
  }
}
.mydata-menu-list {
  padding-top: 28px;
}
.mydata-menu-item {
  width: 100%;
  @include flex(0px);
  align-items: center;
  padding: 12px 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  &:last-child {
    border-bottom: none;
  }
  .mydata-item-tit {
    @include flex(6px);
    align-items: center;
    @include fontDefinition(14px, 500, 140%);
    color: #fff;
    .icon {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      @include fontDefinition(11px, 900, 18px);
      color: #fff;
      border: 1px solid #fff;
      &.p {
        background-color: #7490ff;
      }
      &.s {
        background-color: #4fbfff;
      }
      &.c {
        background-color: #f9833b;
      }
    }
  }
  .mydata-item-data {
    margin-left: auto;
    @include fontDefinition(15px, 700, 140%);
    color: #fff;
    span {
      font-weight: 400;
    }
  }
}
.mypage-menu-list {
  padding-top: 8px;
}
.mypage-menu-item {
  position: relative;
  @include flex(0px);
  align-items: center;
  width: 100%;
  padding: 19px 4px;
  border-bottom: 1px solid #f2f0f0;
  &:last-child {
    border-bottom: none;
  }
  .mypage-item-tit {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
  }
  .mypage-txt {
    margin-left: auto;
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    .mypage-arr {
      display: block;
      width: 6px;
      height: 12px;
      background: url(/assets/images/contents/mypage_arr.svg) no-repeat center
        center;
      background-size: cover;
    }
  }
}

// 쿠폰
.coupon-contents {
  padding-top: 66px;
}
.coupon-list-contents {
  padding: 28px 24px 24px;
}
.coupon-item {
  position: relative;
  display: block;
  width: 100%;
  padding: 35px 25px;
  background: linear-gradient(180deg, #eef1f7 0%, #fff 100%);
  border: 1px solid #e5eaf3;
  border-radius: 8px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    left: -1px;
    width: 21px;
    height: 42px;
    border-radius: 0 100px 100px 0;
    background: #fff;
    border: 1px solid #e5eaf3;
    border-left: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    right: -1px;
    width: 21px;
    height: 42px;
    border-radius: 100px 0 0 100px;
    background: #fff;
    border: 1px solid #e5eaf3;
    border-right: none;
  }
  .coupon-sub-tit {
    @include fontDefinition(15px, 500, 140%);
    color: #47587f;
    margin-bottom: 5px;
  }
  .coupon-main-tit {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
  .coupon-data-wrap {
    @include flex(8px);
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    .coupon-badge {
      @include fontDefinition(14px, 500, 140%);
      background-color: #fff;
      border: 1px solid #eaeaea;
      border-radius: 100px;
      padding: 6px 15px;
      &.o {
        color: #e6854a;
      }
      &.g {
        color: #777;
      }
      &.b {
        color: #2f83e4;
      }
    }
    .coupon-use-btn {
      @include flex(8px);
      align-items: center;
      justify-content: center;
      @include fontDefinition(14px, 500, 140%);
      color: #fff;
      background-color: #444;
      border: 1px solid #eaeaea;
      border-radius: 100px;
      padding: 6px 14px;
      i {
        display: block;
        width: 5px;
        height: 8px;
        background: url(/assets/images/contents/coupon_btn_arr.svg) no-repeat
          center center;
        background-size: cover;
      }
    }
  }
}
.coupon-header {
  padding-bottom: 21px;
  border-bottom: 1px solid #f2f0f0;
}
.coupon-header-tit {
  @include flex(0px);
  align-items: center;
  margin-bottom: 12px;
  .count {
    @include fontDefinition(14px, 400, 140%);
    color: #777;
    b {
      font-weight: 600;
    }
  }
  .sort {
    margin-left: auto;
    @include fontDefinition(14px, 400, 140%);
    color: #777;
  }
}
.target-store-wrap {
  @include flex(0px);
  align-items: center;
  margin-top: 22px;
  .target-store-tit {
    @include fontDefinition(15px, 500, 140%);
    color: #1a1a1a;
  }
  .target-store-txt {
    margin-left: auto;
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
  }
}
.coupon-list-wrap {
  padding-top: 24px;
  @include flex(24px);
  flex-direction: column;
}

// 쿠폰 상세
.coupon-detail-contents {
  padding-top: 66px;
  min-height: calc(100vh);
  background-color: #f8f8f8;
}
.coupon-data-form {
  background-color: #fff;
  border-bottom: 1px solid #f2f0f0;
}
.coupon-data-tit-wrap {
  padding: 28px 24px 20px;
  background: linear-gradient(180deg, #0c3579 0%, #152d5c 100%), #6f82aa;
  .coupon-data-sub-tit {
    @include fontDefinition(15px, 500, 140%);
    color: #bfcbe5;
    margin-bottom: 4px;
  }
  .coupon-data-tit {
    @include fontDefinition(18px, 600, 140%);
    color: #fff;
  }
}
.coupon-data-item {
  @include flex(0px);
  align-items: center;
  padding: 28px 24px 20px;
  border-bottom: 1px solid #f2f0f0;
  &:last-child {
    border-bottom: none;
  }
  .coupon-data-item-tit {
    @include fontDefinition(15px, 500, 140%);
    color: #1a1a1a;
  }
  .coupon-data-item-txt {
    margin-left: auto;
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    text-align: right;
    span {
      display: block;
    }
  }
}
.coupon-use-guide-wrap {
  margin-top: 10px;
  background-color: #fff;
  .use-guide-tit {
    @include fontDefinition(15px, 500, 140%);
    color: #1a1a1a;
    padding: 28px 24px 20px;
    border-bottom: 1px solid #f2f0f0;
  }
}
.use-guide-list {
  padding: 28px 24px 20px;
  .use-guide-item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .use-guide-item-tit {
    @include fontDefinition(15px, 500, 140%);
    color: #1a1a1a;
    margin-bottom: 10px;
  }
  .use-guide-item-txt {
    @include flex(10px);
    flex-direction: column;
    @include fontDefinition(15px, 400, 140%);
    color: #777;
    span {
      display: block;
    }
  }
}

// 장바구니
.basket-contents {
  padding-top: 66px;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.basket-map-data {
  background-color: #fff;
  border-bottom: 1px solid #f2f0f0;
  .map-inner {
    position: relative;
    width: 100%;
    height: 290px;
    .map-inner-data {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: rgba(26, 26, 26, 0.8);
      padding: 32px 24px;
      span {
        display: block;
        @include fontDefinition(18px, 600, 140%);
        color: #fff;
        &.tit {
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}
.discount-guide {
  @include fontDefinition(14px, 400, 140%);
  color: #777;
  span {
    display: block;
    word-break: keep-all;
  }
}
.map-inner-info {
  padding: 20px 24px;
  @include flex(0px);
  align-items: center;
  .map-info-data {
    .map-info-data-name {
      @include fontDefinition(16px, 500, 140%);
      color: #1a1a1a;
      margin-bottom: 5px;
    }
    .map-info-data-address {
      @include fontDefinition(15px, 400, 140%);
      color: #888;
    }
  }
  .map-info-distance {
    margin-left: auto;
    padding: 0 10px;
    @include fontDefinition(20px, 500, 140%);
    color: #f9833b;
  }
}
.basket-conts-bx {
  margin-top: 10px;
  background-color: #fff;
  .basket-conts-tit {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
    padding: 28px 24px 14px;
    border-bottom: 1px solid #f2f0f0;
  }
  .basket-conts-body {
    padding: 24px;
  }
}
.basket-menu-item {
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}
.menu-item-header {
  @include flex(0px);
  align-items: center;
  margin-bottom: 10px;
  .menu-item-badge {
    @include flex(4px);
    align-items: center;
  }
  .menu-item-btn-wrap {
    @include flex(4px);
    align-items: center;
    margin-left: auto;
    button {
      padding: 5px 12px;
      @include fontDefinition(14px, 500, 140%);
      border-radius: 80px;
      &.menu-option {
        background-color: #b5b8c0;
        color: #fff;
      }
      &.menu-del {
        background-color: #fff;
        color: #999;
        border: 1px solid #e0e3ea;
      }
    }
  }
}

.basket-menu-info {
  padding-bottom: 12px;
  border-bottom: 1px solid #f2f0f0;
  .basket-menu-tit {
    @include fontDefinition(15px, 500, 140%);
    color: #1a1a1a;
    margin-bottom: 5px;
  }
  .basket-menu-price {
    @include flex(6px);
    align-items: center;
    .original-price {
      @include fontDefinition(15px, 700, 140%);
      color: #1a1a1a;
    }
    .discount-price {
      @include fontDefinition(14px, 400, 140%);
      color: #777;
      text-decoration: line-through;
    }
  }
}
.basket-menu-option {
  padding-top: 18px;
  .basket-menu-option-item {
    @include flex(0px);
    align-items: center;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    .basket-option-name {
      @include fontDefinition(14px, 400, 140%);
      color: #1a1a1a;
      &.b {
        font-size: 15px;
        font-weight: 600;
      }
    }
    .basket-option-price {
      margin-left: auto;
      @include fontDefinition(14px, 500, 140%);
      color: #1a1a1a;
      &.b {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
}
.add-menu {
  margin-top: 16px;
  i {
    display: block;
    width: 16px;
    height: 16px;
    background: url("/assets/images/contents/plus.svg") center / 14px 14px
      no-repeat;
    background-size: cover;
  }
}
.pickup-time-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  .pickup-time-item {
    border: 1px solid #ededed;
    border-radius: 3px;
    padding: 10px;
    @include fontDefinition(15px, 400, 140%);
    color: #444;
    text-align: center;
    transition: all 0.15s ease;
    &.act {
      background-color: #ededed;
      border-color: #ededed;
      font-weight: 600;
    }
  }
}
.pickup-guide {
  @include fontDefinition(14px, 400, 140%);
  color: #777;
  margin-top: 12px;
}
.pickup-option-wrap {
  margin-top: 20px;
  .pickup-option-tit {
    @include fontDefinition(16px, 500, 140%);
    color: #1a1a1a;
    margin-bottom: 10px;
  }
}
.option-btn-select {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #ededed;
  background-color: #fff;
  padding: 12.5px 40px 12.5px 16px;
  span {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    @include ellipsis(1);
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 24px;
    height: 24px;
    background: url(/assets/images/common/select_arr.svg) no-repeat center
      center;
    background-size: cover;
    transform: translateY(-50%);
  }
}
.discount-data-wrap {
  @include flex(20px);
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 20px;
}
.discount-data-item {
  .discount-data-item-tit {
    @include fontDefinition(16px, 500, 140%);
    color: #1a1a1a;
    margin-bottom: 10px;
  }
  .discount-data-item-input {
    @include flex(10px);
    align-items: center;
    .discount-btn {
      flex: none;
      height: 48px;
      background-color: #b5b8c0;
      border-radius: 6px;
      padding: 0 16px;
      @include fontDefinition(16px, 500, 140%);
      color: #fff;
    }
  }
}
.discount-point-wrap {
  @include flex(0px);
  align-items: center;
  margin-top: 15px;
  .discount-point {
    position: relative;
    padding-right: 6px;
    padding-left: 6px;
    @include fontDefinition(14px, 400, 140%);
    color: #777;
    span {
      font-weight: 600;
      color: #4fbfff;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 1px;
      height: 10px;
      background-color: #d9d9d9;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      padding-left: 6px;
      &::before {
        display: none;
      }
    }
  }
}
.discount-total-wrap {
  @include flex(0px);
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #f2f0f0;
  .discount-total-tit {
    @include fontDefinition(16px, 500, 140%);
    color: #333;
  }
  .discount-total-price {
    margin-left: auto;
    @include fontDefinition(16px, 700, 140%);
    color: #f34a5a;
  }
}
.payment-method-list {
  @include flex(10px);
  flex-direction: column;
  .payment-method-item {
    button {
      i {
        display: block;
      }
      .card-icon {
        border: 1px solid #ddd;
        border-radius: 6px;
        width: 22px;
        height: 17px;
        background: url(/assets/images/contents/card_icon.svg) no-repeat center
          center;
        background-size: cover;
      }
      .kakao-icon {
        width: 22px;
        height: 21px;
        background: url(/assets/images/contents/kakao_icon.svg) no-repeat center
          center;
        background-size: cover;
      }
      .naver-icon {
        width: 22px;
        height: 22px;
        background: url(/assets/images/contents/naver_icon.svg) no-repeat center
          center;
        background-size: cover;
      }
      .toss-icon {
        width: 22px;
        height: 20px;
        background: url(/assets/images/contents/toss_icon.svg) no-repeat center
          center;
        background-size: cover;
      }
    }
  }
}
.payment-method-list-sub {
  @include flex(10px);
  flex-direction: column;
  padding-top: 10px;
}
.earn-point-wrap {
  @include flex(10px);
  flex-direction: column;
}
.earn-point-item {
  @include flex(10px);
  align-items: center;
  .earn-point-item-tit {
    @include fontDefinition(15px, 400, 140%);
    color: #333;
  }
  .earn-point-item-data {
    margin-left: auto;
    @include fontDefinition(15px, 600, 140%);
    color: #1a1a1a;
  }
}
.basket-pay-btn {
  margin-top: 18px;
  button {
    height: 68px;
    justify-content: flex-start;
    .btn-text {
      font-size: 18px;
      font-weight: 600;
    }
    .btn-price {
      margin-left: auto;
      font-size: 22px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 321px) {
  .header {
    h1 {
      font-size: 16px;
    }
  }
  .store-badge-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-item {
    .menu-item-btn {
      align-items: center;
    }
    .menu-item-img {
      width: 80px;
      height: 80px;
    }
  }
  .menu-contents {
    padding-bottom: 96px;
  }
  .menu-btn-wrap {
    button {
      height: 48px;
      font-size: 16px;
      span {
        font-size: 18px;
      }
    }
  }
  .history-data-wrap {
    .history-data {
      font-size: 13px;
    }
  }
  .item-step-list {
    padding: 22px 20px;
    .step-item {
      font-size: 14px;
    }
  }
  .item-info {
    padding: 22px 20px;
    .item-info-name {
      font-size: 14px;
    }
    .item-info-location {
      font-size: 13px;
    }
  }
}
