@use '../abstracts' as *;

// toast
.toast-container {
  padding: 0 24px 24px;
  .Toastify__toast {
    border-radius: 12px;
    border: 1px solid #9dc0ee;
    background: #f5f9ff;
    box-shadow:
      0 28px 8px 0 rgba(0, 0, 0, 0),
      0 18px 7px 0 rgba(0, 0, 0, 0.01),
      0 10px 6px 0 rgba(0, 0, 0, 0.03),
      0 5px 5px 0 rgba(0, 0, 0, 0.04),
      0 1px 2px 0 rgba(0, 0, 0, 0.05);
    justify-content: center;
    @include fontDefinition($font-ds-15, $font-w-600, $line-h-160);
    color: #1a1a1a;
    font-family: 'Pretendard', sans-serif;
  }
  .Toastify__close-button {
    display: none;
  }
}
.msg {
  @include fontDefinition($font-ds-15, $font-w-400, $line-h-160);
  color: #1a1a1a;
  &.err {
    color: #ff3838;
  }
}

.map-frame {
  @include flex(0px);
  width: 100%;
  height: 100%;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.photo-frame {
  @include flex(0px);
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
  height: 100%;
  .mySwiper {
    height: 100%;
  }
  .swiper-slide {
    height: auto;
  }
  .photo-img {
    position: relative;
    @include flex(0px);
    align-items: center;
    height: 100%;
  }
  .swiper-pagination {
    bottom: 24px;
    color: #fff;
    font-size: 15px;
    letter-spacing: -0.375px;
  }
}

.bill-frame {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
.bill-table-wrap {
  padding: 28px 24px 20px;
  background-color: #fff;
  border-bottom: 1px solid #f2f0f0;
}
.bill-table {
  width: 100%;
  td {
    padding: 4px 0;
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    vertical-align: top;
    &.end {
      position: relative;
      padding-left: 10px;
      &:before {
        content: ':';
        position: absolute;
        left: 0;
        top: 1px;
        width: 1px;
      }
    }
  }
}
.bill-frame-bx {
  margin-top: 10px;
  padding: 28px 0 20px;
  background-color: #fff;
  border-top: 1px solid #f2f0f0;
  border-bottom: 1px solid #f2f0f0;
}
.bill-frame-bx-tit {
  @include flex(0px);
  align-items: center;
  padding: 0 24px;
  margin-bottom: 5px;
  .tit-name {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
  }
  .tit-price {
    @include fontDefinition(15px, 600, 140%);
    color: #1a1a1a;
    margin-left: auto;
  }
}
.bill-frame-bx-inner {
  padding: 0 24px;
}
.bill-menu-table {
  width: 100%;
  table-layout: fixed;
  th {
    @include fontDefinition(15px, 500, 140%);
    color: #1a1a1a;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f0f0;
    &:last-child {
      padding-right: 24px;
    }
  }
  td {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    text-align: center;
    padding-bottom: 8px;

    .option-name {
      position: relative;
      color: #777;
      @include fontDefinition(15px, 400, 140%);
      padding-left: 10px;
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 8px;
        width: 4px;
        height: 4px;
        background-color: #777;
        border-radius: 50%;
      }
    }
    &.b {
      font-weight: 600;
    }
    &:first-child {
      padding-left: 24px;
    }
    &:last-child {
      padding-right: 24px;
    }
  }
  tr {
    &:first-child {
      td {
        padding-top: 20px;
      }
    }
    &:last-child {
      td {
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f0f0;
      }
    }
  }
  tbody {
    &:last-child {
      tr {
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}
.bill-menu-total {
  padding: 20px 24px 0;
  border-top: 1px solid #f2f0f0;
  .bill-total-data {
    @include flex(0px);
    align-items: center;
    padding-bottom: 8px;
    .total-name {
      @include fontDefinition(15px, 600, 140%);
      color: #1a1a1a;
      &.light {
        font-weight: 400;
      }
      &.option {
        position: relative;
        padding-left: 10px;
        color: #777;
        font-weight: 400;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 8px;
          width: 4px;
          height: 4px;
          background-color: #777;
          border-radius: 50%;
        }
      }
    }
    .total-price {
      @include fontDefinition(15px, 600, 140%);
      color: #1a1a1a;
      margin-left: auto;
    }
  }
}
.icon-down {
  display: block;
  width: 16px;
  height: 15px;
  background: url(/assets/images/contents/down_icon.svg) no-repeat center center;
  background-size: cover;
}

.alert-frame {
  .alert-tit {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
    margin-bottom: 12px;
  }
  .alert-info {
    @include fontDefinition(14px, 400, 140%);
    color: #1a1a1a;
    span {
      display: block;
      b {
        font-weight: 600;
      }
    }
  }
  .alert-btn {
    @include flex(6px);
    margin-top: 25px;
    align-items: center;
  }
}

// MyPage Point
.point-frame {
  width: 100%;
  height: 100%;
  background-color: #f2f0f0;
}
.point-guide-wrap {
  padding: 24px 24px 32px;
  background-color: #fff;
}
.point-guide {
  margin-bottom: 20px;
  span {
    @include fontDefinition(14px, 400, 140%);
    color: #1a1a1a;
    display: block;
    word-break: keep-all;
    letter-spacing: -0.35px;
  }
}
.point-data-wrap {
  background: linear-gradient(180deg, #0c3579 0%, #152d5c 100%), #6f82aa;
  padding: 28px 24px 20px;
  border-radius: 18px;
  .point-data-item {
    @include flex(0px);
    align-items: center;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    .point-data-tit {
      @include fontDefinition(18px, 700, 140%);
      color: #fff;
    }
    .point-data {
      margin-left: auto;
      @include fontDefinition(18px, 700, 140%);
      color: #fff;
    }
  }
}
.point-list-wrap {
  @include flex(16px);
  flex-direction: column;
  padding: 24px;
}
.point-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eff0f1;
  border-radius: 18px;
  .point-item-tit {
    @include flex(0px);
    align-items: center;
    margin-bottom: 8px;
    .point-item-date {
      @include fontDefinition(15px, 400, 140%);
      color: #777;
    }
    .point-item-txt {
      margin-left: auto;
      @include fontDefinition(15px, 400, 140%);
      color: #1a1a1a;
    }
  }
  .point-item-info {
    @include flex(0px);
    align-items: center;
    .point-item-info-tit {
      @include fontDefinition(16px, 600, 140%);
      color: #1a1a1a;
    }
    .point-item-info-data {
      margin-left: auto;
      span {
        @include fontDefinition(16px, 700, 140%);
        color: #1a1a1a;
        &.use {
          color: #e6854a;
        }
      }
    }
  }
}
// 옵션변경
.option-change-frame {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 127px;
  background-color: #f2f0f0;
}
.option-menu-data {
  padding: 20px 24px;
  background-color: #fff;
  border-bottom: 1px solid #f2f0f0;
  .option-menu-name {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
  .option-menu-price {
    @include flex(0px);
    align-items: center;
    margin-top: 5px;
    .original-price {
      @include fontDefinition(15px, 500, 140%);
      color: #1a1a1a;
    }
    .discount-price {
      @include fontDefinition(14px, 400, 140%);
      color: #777;
      text-decoration: line-through;
    }
  }
}
.option-change-bx {
  margin-top: 10px;
  padding: 28px 24px 20px;
  background-color: #fff;
  border-top: 1px solid #f2f0f0;
  border-bottom: 1px solid #f2f0f0;
  .menu-option-item {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
  }
}
.option-change-btn-bx {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  background-color: #fff;
  border-top: 1px solid #f2f0f0;
  .basket-pay-btn {
    margin-top: 0;
  }
}
// 쿠폰 선택
.coupon-empty {
  position: relative;
  @include flex(10px);
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 21px 0;
  background-color: #f5f5f5;
  margin-top: 14px;
  .empty-icon {
    width: 56px;
    height: 56px;
    background: #fff url(/assets/images/contents/coupon_empty_icon.svg) no-repeat center center;
    background-size: 36px 36px;
    border-radius: 50%;
  }
  .empty-txt {
    @include fontDefinition(15px, 500, 140%);
    color: #1a1a1a;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 30px;
    background-color: #fff;
    border-radius: 0 100px 100px 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 30px;
    background-color: #fff;
    border-radius: 100px 0 0 100px;
  }
}
.coupon-select-frame {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 127px;
  background-color: #f2f0f0;
}
.coupon-select-bx {
  padding: 28px 24px 24px;
  background-color: #fff;
  margin-bottom: 10px;
  border-top: 1px solid #f2f0f0;
  border-bottom: 1px solid #f2f0f0;
  &:first-child {
    border-top: none;
  }
  &.basket {
    margin-bottom: 0;
  }
  .coupon-select-item-tit {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
}

.coupon-item-list {
  @include flex(18px);
  flex-direction: column;
  margin-top: 14px;
  li {
    .coupon-data-sel {
      margin-top: 12px;
    }
  }
}
.coupon-data-wrap {
  @include flex(24px);
  .coupon-img {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #f8f8f8;
    border-radius: 32px;
  }
  .coupon-data-info {
    .coupon-data-name {
      @include fontDefinition(15px, 500, 140%);
      color: #1a1a1a;
    }
    .coupon-data-price {
      @include fontDefinition(15px, 700, 140%);
      color: #1a1a1a;
    }
  }
}
.basket-coupon-sel {
  margin-top: 14px;
}
.coupon-select-btn-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 24px;
  background-color: #fff;
  button {
    gap: 6px;
    height: 68px;
    font-size: 18px;
    font-weight: 600;
    span {
      font-size: 22px;
      font-weight: 700;
      i {
        font-weight: 500;
      }
    }
  }
}

// AI Chat
.ai-chat-frame {
  width: 100%;
  height: 100%;
  position: relative;
}
.ai-chat-body {
  height: calc(100vh - 66px - 109px);
  margin-bottom: 109px;
  overflow-y: auto;
  .ai-chat-inner {
    @include flex(32px);
    flex-direction: column;
    padding: 0 24px 32px;
  }
}
.ai-chat-footer {
  @include flex(18px);
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px 24px;
  border-top: 1px solid #f5f5f5;
}
.chat-input-wrap {
  @include flex(0px);
  align-items: center;
  border: 2px solid #979c9e;
  background-color: #fff;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  border-radius: 48px;
  transition: all 0.15s ease-in-out;
  &:focus-within {
    border-color: #1a1a1a;
  }
  input {
    flex: 1;
    width: 100%;
    height: 100%;
    @include fontDefinition(16px, 400, 140%);
    color: #1a1a1a;
    &::placeholder {
      color: #72777a;
    }
  }
  .chat-mick-btn {
    display: block;
    flex: none;
    width: 24px;
    height: 24px;
    background: url(/assets/images/popup/ai_mick_icon.svg) no-repeat center center;
    background-size: cover;
  }
}
.send-message-btn {
  margin-left: auto;
  display: block;
  flex: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #1c1c1c url(/assets/images/popup/send_icon.svg) no-repeat center center;
  background-size: 20px 20px;
}
.ai-chat {
  .ai-chat-time {
    @include fontDefinition(14px, 400, 140%);
    color: #777;
    margin-bottom: 5px;
    padding-left: 40px;
  }
  .ai-chat-list {
    position: relative;
    @include flex(16px);
    flex-direction: column;
    padding-left: 40px;
    .ai-chat-data {
      padding: 16px;
      background-color: #f2f4f5;
      border-radius: 24px;
      width: fit-content;
      span {
        display: block;
        @include fontDefinition(16px, 400, 140%);
        color: #303437;
        word-break: keep-all;
      }
      &:first-child {
        border-top-left-radius: 0;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      background: url(/assets/images/layout/AI_icon.svg) no-repeat center center;
      background-size: cover;
    }
  }
}

.user-chat {
  .user-chat-time {
    @include fontDefinition(14px, 400, 140%);
    color: #777;
    margin-bottom: 5px;
    text-align: right;
  }
  .user-chat-list {
    position: relative;
    @include flex(16px);
    flex-direction: column;
    align-items: flex-end;
    .user-chat-data {
      padding: 16px;
      background-color: #4a97f7;
      border-radius: 24px;
      width: fit-content;
      span {
        @include fontDefinition(16px, 400, 140%);
        color: #fff;
      }
      &:last-child {
        border-bottom-right-radius: 0;
      }
    }
  }
}

.ai-mick-wrap {
  @include absoluteCenter;
  @include flex(0px);
  width: 150px;
  height: 150px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(48, 52, 55, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
  &.act {
    opacity: 1;
    visibility: visible;
  }
  .ai-mick-icon {
    width: 56px;
  }
  .ai-mick-text {
    @include fontDefinition(16px, 500, 140%);
    color: #fff;
    margin-top: 5px;
  }
}

.location-allow-wrap {
  background-color: #fff;
  border-radius: 16px;
}
.location-allow-guide {
  padding: 26px 26px 18px;
  text-align: center;
  .location-allow-guide-tit {
    @include fontDefinition(16px, 500, 140%);
    color: #1a1a1a;
    margin-bottom: 5px;
  }
  .location-allow-guide-txt {
    @include fontDefinition(14px, 400, 140%);
    color: #444;
  }
}
.location-allow-iframe {
  position: relative;
  iframe {
    width: 100%;
    border: none;
    height: 174px;
  }
  .location-iframe-btn {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #fff;
    border-radius: 100px;
    padding: 2px 10px;
    @include flex(5px);
    align-items: center;
    i {
      display: block;
      width: 8px;
      height: 8px;
      background: url(/assets/images/popup/location_allow_icon.svg) no-repeat center center;
      background-size: cover;
    }
    span {
      @include fontDefinition(13px, 400, 140%);
      color: #007aff;
    }
  }
}
.location-allow-access-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  @include fontDefinition(15px, 400, 140%);
  color: #007aff;
  &:last-child {
    border-bottom: none;
  }
}
@media screen and (max-width: 321px) {
  .bill-menu-table {
    td {
      font-size: 14px;
    }
  }
}

// 주소검색
.back-frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f4f5f6;
}
.address-search {
  padding: 24px;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
  margin-bottom: 10px;
}
.address-list-wrap {
  flex: 1;
  padding: 24px 24px 0;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  .address-count {
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-140);
    color: #111;
    padding-bottom: 18px;
    border-bottom: 1px solid #eee;
    span {
      font-weight: $font-w-600;
    }
  }
}
.address-list {
  height: calc(100vh - 239px);
  overflow-y: auto;
  margin-right: -24px;
  padding-right: 24px;
  .address-item {
    border-bottom: 1px solid #eee;
  }
}
.address-item-btn {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: left;
  .address-tit {
    @include fontDefinition($font-ds-16, $font-w-600, $line-h-160);
    color: #111;
  }
  .address-addr {
    @include fontDefinition($font-ds-15, $font-w-400, $line-h-160);
    color: #505050;
  }
}

.address-list-empty-tit {
  @include flex(6px);
  align-items: center;
  padding-bottom: 18px;
  border-bottom: 1px solid #eee;
  .tip-badge {
    @include fontDefinition($font-ds-14, $font-w-600, 28px);
    color: #fff;
    height: 28px;
    background-color: #666;
    padding: 0 8px;
    border-radius: 100px;
  }
  span {
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-140);
    color: #111;
  }
}
.address-example-list {
  @include flex(20px);
  flex-direction: column;
  padding: 24px 0;
  .address-example-item {
    .address-example-item-tit {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-160);
      color: #1a1a1a;
    }
    .address-example-item-addr {
      @include fontDefinition($font-ds-15, $font-w-400, $line-h-160);
      color: #007aff;
    }
  }
}

// 위치편집
.address-edit-list {
  @include flex(16px);
  flex-direction: column;
  padding: 24px;
  .address-edit-item {
    @include flex(16px);
    align-items: center;
    padding: 24px 11px 28px;
    border-radius: 18px;
    border: 1px solid #eff0f1;
    background: #fff;
    .address-edit-item-info {
      flex: 1;
      .address-edit-item-name {
        @include fontDefinition($font-ds-16, $font-w-600, $line-h-160);
        color: #1a1a1a;
      }
      .address-edit-item-address {
        @include fontDefinition($font-ds-15, $font-w-400, $line-h-160);
        color: #333;
      }
    }
  }
}
.drag-btn {
  flex: none;
  display: block;
  width: 42px;
  height: 34px;
  background: url(/assets/images/popup/drag_icon.svg) no-repeat center center;
  background-size: cover;
}
.address-edit-item-delete {
  flex: none;
  display: block;
  width: 42px;
  height: 42px;
  background: url(/assets/images/popup/alias_del_icon.svg) no-repeat center center;
  background-size: cover;
}

// 위치편집
.alias-form-wrap {
  padding: 24px 24px 0;
}
.alias-form-item {
  padding-bottom: 18px;
  border-bottom: 1px solid #eee;
  margin-bottom: 18px;
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .alias-form-item-tit {
    @include fontDefinition($font-ds-15, $font-w-500, $line-h-160);
    color: #1a1a1a;
    margin-bottom: 16px;
    span {
      display: block;
    }
    .alias-form-item-addr {
      font-weight: $font-w-400;
      color: #333;
    }
  }
}
.alias-btn-wrap {
  padding: 0 24px;
  margin-top: 20px;
}

// 쿠폰 상세
.coupon-detail-wrap {
  padding: 32px 24px 34px;
}
.coupon-detail-item {
  @include flex(0px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 185px;
  background: url(/assets/images/popup/coupon_detail_bg.svg) no-repeat center center;
  background-size: cover;
  .coupon-detail-sub-tit {
    @include fontDefinition(16px, 500, 140%);
    color: #bfcbe5;
    margin-bottom: 5px;
  }
  .coupon-detail-main-tit {
    @include fontDefinition(26px, 600, 110%);
    color: #fff;
    margin-bottom: 12px;
    text-align: center;
  }
  .coupon-detail-down-btn {
    display: block;
    width: 34px;
    height: 34px;
    background: url(/assets/images/popup/coupon_detail_down.svg) no-repeat center center;
    background-size: cover;
  }
}

.coupon-detail-data {
  border-radius: 18px;
  background-color: #fff;
  border: 1px solid #eff0f1;
  margin-top: 16px;
  .coupon-detail-data-item {
    @include flex(0px);
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eff0f1;
    &:last-child {
      border-bottom: none;
    }
    .coupon-detail-data-item-tit {
      @include fontDefinition(15px, 600, 140%);
      color: #1a1a1a;
    }
    .coupon-detail-data-item-txt {
      margin-left: auto;
      @include fontDefinition(15px, 400, 140%);
      color: #1a1a1a;
      text-align: right;
      span {
        display: block;
      }
    }
  }
  .coupon-detail-guide-tit {
    @include fontDefinition(20px, 700, 140%);
    color: #1a1a1a;
    padding: 27px 20px 20px;
    border-bottom: 1px solid #eff0f1;
  }
  .coupon-detail-guide-wrap {
    padding: 27px 20px;
  }
  .coupon-detail-guide-item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    .coupon-detail-guide-item-tit {
      @include fontDefinition(16px, 600, 140%);
      color: #1a1a1a;
      margin-bottom: 7px;
    }
    .coupon-detail-guide-item-txt {
      @include fontDefinition(15px, 400, 140%);
      color: #777;
      span {
        display: block;
        margin-bottom: 7px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// 스탬프 상세
.stemp-detail {
  @include flex(0px);
  flex-direction: column;
  min-height: 100%;
  padding: 32px 24px 34px;
  .stemp-detail-inner {
    flex: 1;
  }
  .stemp-detail-tit {
    @include fontDefinition(20px, 700, 140%);
    color: #1a1a1a;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f0f0;
  }
  .stemp-detail-guide {
    padding: 20px 0;
    border-bottom: 1px solid #f2f0f0;
    .stemp-detail-guide-tit {
      @include fontDefinition(18px, 600, 140%);
      color: #1a1a1a;
      margin-bottom: 12px;
    }
    .stemp-detail-guide-desc {
      @include fontDefinition(15px, 400, 150%);
      color: #1a1a1a;
      span {
        display: block;
      }
    }
  }
  .stemp-detail-favor {
    padding: 20px 0 27px;
    .stemp-detail-favor-tit {
      @include fontDefinition(18px, 600, 140%);
      color: #1a1a1a;
      margin-bottom: 12px;
    }
    .stemp-detail-favor-desc {
      @include fontDefinition(15px, 400, 150%);
      color: #1a1a1a;
      span {
        display: block;
      }
    }
  }
  .stemp-total {
    @include flex(0px);
    align-items: center;
    padding: 20px 24px;
    border-radius: 18px;
    background: linear-gradient(180deg, #0c3579 0%, #152d5c 100%), #6f82aa;
    .stemp-total-tit {
      @include fontDefinition(18px, 600, 140%);
      color: #fff;
    }
    .stemp-total-data {
      margin-left: auto;
      @include fontDefinition(18px, 700, 140%);
      color: #fff;
    }
  }
}
